@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz@10..48&family=DM+Serif+Display&family=Julius+Sans+One&family=Oswald:wght@700&family=Qwitcher+Grypen&family=Tilt+Prism&family=Yeseva+One&display=swap');

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 55px;
    text-align: center;
}

img{
    border-radius: 100%;
    margin-bottom: 15px;
}

