
<div class="container mb-3 mt-2" id="home" >
    <div class="bg-gray-200 text-center p-4 circle-hover">
        <h1 class="text-2xl font-bold">Harambe Memecoin Network</h1>
       <div class="row">
        <div class="col-6"> <p class="mt-2 text-black-600 text-justify">Introducing Harambe Coin, the cryptocurrency that pays tribute to the iconic silverback gorilla who captured hearts worldwide. Much more than a coin, Harambe Coin represents a powerful blend of remembrance, community, and cutting-edge technology on the blockchain.
            <br>
            Harambe Coin is not just about cryptocurrency; it's about preserving the legacy of a beloved figure and fostering a community of like-minded individuals. Our mission is to ensure that Harambe's spirit lives on through the blockchain, where innovation meets compassion.
            <br>
            Developed with a limited supply and the utmost attention to security, Harambe Coin is a digital asset that holds significance beyond its value. Our team is dedicated to creating a lasting token that celebrates the strength and unity that Harambe inspired during his time.
            <br>
            By investing in Harambe Coin, you're not only embracing the world of cryptocurrencies, but you're also joining a movement to honor a true symbol of love and unity. Join us in paying homage to Harambe's memory while exploring the exciting world of blockchain technology.
            <br>
            Become a part of the Harambe Coin community today and carry forward the legacy of a true hero.</p></div>
        <div class="col-6">
            <div class="pt-3 hover">
                <img src="../../assets/haramiheavn.jpeg" alt="haram in heaven" width="100%">
            </div>
        </div>
       </div>
      </div>
      
    
</div>

